<h1>Thanks for your order!</h1>
<h3>Order ID: <%= @order.id %></h3>
<h4>Quantity: <%= @order.quantity %></h4>
<h4>Subtotal: <%= number_to_currency(@order.subtotal) %></h4>
<h4>Tax: <%= number_to_currency(@order.tax) %></h4>
<h2>Total: <%= number_to_currency(@order.total) %></h2>